.bg-image {
    animation: fade-slide-down 2s .5s cubic-bezier(0, .5, 0, 1) forwards;
    position: absolute;
    opacity: 0;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
}

